<h1>Films</h1>
<table class="table table-dark text-center">
    <thead>
        <tr>
            <th></th>
            <th >Titulo</th>
            <th>Genero</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let film of films" [ngClass]="{'recomend': film.recomend}"> 
            <td><img width="90px" class="img-thumbnail" [src]="film.image" [alt]="film.title"></td>
            <td>{{film.title | uppercase}}</td>
            <td>{{film.gender}}</td>
            <td>{{film.price | currency}} </td>
            <td >  <span *ngIf="film.stock==0" class="badge badge-danger">Sin Stock</span>  </td>
            <td >
                <app-input-integer [(quantity)]="film.quantity" [max]="film.stock" *ngIf="film.stock" (maxReached)="maxReached($event)"></app-input-integer>
            </td>
            <td>
                <button class="btn btn-primary" (click)="addToCart(film)" > Comprar</button>
            </td>
        </tr>
        
    </tbody>
</table>
