footer{
    text-align: center;
}

.navcolor{
    background: #07252d;
}

.navcolor a{
    color: #fff;
}

.neon{
    color: #0e3742;
    text-shadow: 0 0 20px #03bcf4;
}

.neon:after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #03bcf4;
    filter: blur(15px);
}

.neon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #36ccfa;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}

i{
    color: #fff;
    align-content: center;
    align-items: center;
    font-size: 20px;
}